{% macro announcementCard(a, first) %}
<div class="announcement {% if first %}announcement--first{% endif %}">
  {% if a.photoUrl %}<div class="announcement__photo"><img src="{{ a.photoUrl }}" alt=""></div>{% endif %}
  <div class="announcement__body">
    <div class="announcement__date">{{ a.date }}</div>
    <div class="announcement__headline">{{ a.headline }}</div>
    <p class="announcement__text">{{ a.body }}</p>
    {% if a.linkText %}<a class="announcement__link" href="{{ a.linkUrl }}">{{ a.linkText }} →</a>{% endif %}
  </div>
</div>
{% endmacro %}
