<div class="mascot" id="mascot">
  <div class="mascot__stage">
    <img
      src="/assets/icons/blacksmith-original.jpg"
      alt="Smithville Blacksmith mascot"
      class="mascot__img"
      data-mascot-img
      data-rest="/assets/icons/blacksmith-original.jpg"
      data-hover="/assets/icons/blacksmith-modern.png">
    <video class="mascot__video" data-mascot-video src="/assets/videos/blacksmith1.mp4" muted loop playsinline hidden></video>
  </div>
  <div class="mascot__hint" data-mascot-hint>Hover · click to play</div>
</div>
